{% extends 'docs.html.twig' %}

{% block title %}Search Results | Rhapsody Framework{% endblock %}

{% block content %}
<section id="searchresults">
    <div class="card mb-4">
        <div class="card-body">
            <h3 class="card-title">Results</h3>
            <div class="card-subtitle text-muted mb-3">
                <p class="card-text">
                {% if results|length > 0 %}
                	{% for result in results %}

                		<div>{{ result.subcategory|raw }}</div>
                	
                	{% endfor %}

                	{{ links|raw }}

                {% else %}
                	<p>No results found</p>
                {% endif %}
                </p>
                <p>
                    <em>{{ total_records }} results found</em>
                </p>

                
                {% if errors|length > 0 %}
                    <div class="alert alert-danger">
                    {% for error in errors %}

                        <div>
                            <strong>Form field:</strong> {{ error.input }} <strong>You entered:</strong> {{ error.value }}
                        </div>
                        <div>
                            <ul>
                            {% for message in error.message %}
                                <li>{{ message }}</li>
                            {% endfor %}
                            </ul>
                        </div>
                    
                    {% endfor %}
                    </div>
                {% endif %}
                
            </div>
        </div>
    </div>
</section>
{% endblock %}