<div id="template-customizer" class="invert-bg-white" style="visibility: visible"> <a href="javascript:void(0)" class="template-customizer-open-btn" tabindex="-1"></a> <div class="p-4 m-0 lh-1 border-bottom template-customizer-header position-relative py-3"> <h4 class="template-customizer-t-panel_header mb-2">Template Customizer</h4> <p class="template-customizer-t-panel_sub_header mb-0">Customize and preview in real time</p> <div class="d-flex align-items-center gap-2 position-absolute end-0 top-0 mt-4 me-3"> <a href="javascript:void(0)" class="template-customizer-reset-btn text-body" data-bs-toggle="tooltip" data-bs-placement="bottom" title="Reset Customizer"><i class="bx bx-refresh fs-4"></i><span class="badge rounded-pill bg-danger badge-dot badge-notifications"></span></a> <a href="javascript:void(0)" class="template-customizer-close-btn fw-light text-body" tabindex="-1"><i class="bx bx-x fs-4"></i></a> </div> </div> <div class="template-customizer-inner pt-4"> <div class="template-customizer-theming"> <h5 class="m-0 px-4 py-4 lh-1 d-block"> <span class="template-customizer-t-theming_header bg-label-primary rounded-1 py-1 px-2 fs-big">Theming</span> </h5> <div class="m-0 px-4 pb-3 pt-1 template-customizer-style w-100"> <label for="customizerStyle" class="form-label d-block template-customizer-t-style_label">Style (Mode)</label> <div class="row px-1 template-customizer-styles-options"><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="customRadioIconlight">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/light-dark.svg" alt="Light" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="customRadioIcon" class="form-check-input d-none" type="radio" value="light" id="customRadioIconlight">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="customRadioIconlight">Light</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="customRadioIcondark">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/dark-dark.svg" alt="Dark" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="customRadioIcon" class="form-check-input d-none" type="radio" value="dark" id="customRadioIcondark">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="customRadioIcondark">Dark</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0 checked">
    <label class="form-check-label custom-option-content p-0" for="customRadioIconsystem">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/system-dark.svg" alt="System" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="customRadioIcon" class="form-check-input d-none" type="radio" value="system" id="customRadioIconsystem" checked="checked">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="customRadioIconsystem">System</label>
</div></div> </div> <div class="m-0 px-4 pt-3 template-customizer-themes w-100"> <label for="customizerTheme" class="form-label template-customizer-t-theme_label">Themes</label> <div class="row px-1 template-customizer-themes-options"><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0 checked">
    <label class="form-check-label custom-option-content p-0" for="themeRadiostheme-default">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/default-dark.svg" alt="Default" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="themeRadios" class="form-check-input d-none" type="radio" value="theme-default" id="themeRadiostheme-default" checked="checked">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="themeRadiostheme-default">Default</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="themeRadiostheme-bordered">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/border-dark.svg" alt="Bordered" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="themeRadios" class="form-check-input d-none" type="radio" value="theme-bordered" id="themeRadiostheme-bordered">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="themeRadiostheme-bordered">Bordered</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="themeRadiostheme-semi-dark">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/semi-dark-dark.svg" alt="Semi Dark" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="themeRadios" class="form-check-input d-none" type="radio" value="theme-semi-dark" id="themeRadiostheme-semi-dark">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="themeRadiostheme-semi-dark">Semi Dark</label>
</div></div> </div> </div> <div class="template-customizer-layout"> <hr class="m-0 px-4 my-4"> <h5 class="m-0 px-4 pb-4 pt-2 d-block"> <span class="template-customizer-t-layout_header bg-label-primary rounded-1 py-1 px-2 fs-big">Layout</span> </h5> <div class="m-0 px-4 pb-3 d-block template-customizer-layouts"> <label for="customizerStyle" class="form-label d-block template-customizer-t-layout_label">Menu (Navigation)</label> <div class="row px-1 template-customizer-layouts-options"> <div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0 checked">
    <label class="form-check-label custom-option-content p-0" for="layoutsRadiosexpanded">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/expanded-dark.svg" alt="Expanded" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="layoutsRadios" class="form-check-input d-none" type="radio" value="expanded" id="layoutsRadiosexpanded" checked="checked">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="layoutsRadiosexpanded">Expanded</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="layoutsRadioscollapsed">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/collapsed-dark.svg" alt="Collapsed" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="layoutsRadios" class="form-check-input d-none" type="radio" value="collapsed" id="layoutsRadioscollapsed">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="layoutsRadioscollapsed">Collapsed</label>
</div></div> </div>  <div class="m-0 px-4 pb-3 template-customizer-layoutNavbarOptions w-100"> <label for="customizerNavbar" class="form-label template-customizer-t-layout_navbar_label">Navbar Type</label> <div class="row px-1 template-customizer-navbar-options"><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0 checked">
    <label class="form-check-label custom-option-content p-0" for="navbarOptionRadiossticky">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/sticky-dark.svg" alt="Sticky" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="navbarOptionRadios" class="form-check-input d-none" type="radio" value="sticky" id="navbarOptionRadiossticky" checked="checked">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="navbarOptionRadiossticky">Sticky</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="navbarOptionRadiosstatic">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/static-dark.svg" alt="Static" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="navbarOptionRadios" class="form-check-input d-none" type="radio" value="static" id="navbarOptionRadiosstatic">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="navbarOptionRadiosstatic">Static</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="navbarOptionRadioshidden">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/hidden-dark.svg" alt="Hidden" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="navbarOptionRadios" class="form-check-input d-none" type="radio" value="hidden" id="navbarOptionRadioshidden">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="navbarOptionRadioshidden">Hidden</label>
</div></div> </div> <div class="m-0 px-4 pb-3 template-customizer-content w-100"> <label for="customizerContent" class="form-label template-customizer-t-content_label">Content</label> <div class="row px-1 template-customizer-content-options"><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0 checked">
    <label class="form-check-label custom-option-content p-0" for="contentRadioIconcompact">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/compact-dark.svg" alt="Compact" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="contentRadioIcon" class="form-check-input d-none" type="radio" value="compact" id="contentRadioIconcompact" checked="checked">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="contentRadioIconcompact">Compact</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="contentRadioIconwide">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/wide-dark.svg" alt="Wide" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="contentRadioIcon" class="form-check-input d-none" type="radio" value="wide" id="contentRadioIconwide">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="contentRadioIconwide">Wide</label>
</div></div> </div> <div class="m-0 px-4 pb-3 template-customizer-directions w-100"> <label for="customizerDirection" class="form-label template-customizer-t-direction_label">Direction</label> <div class="row px-1 template-customizer-directions-options"><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0 checked">
    <label class="form-check-label custom-option-content p-0" for="directionRadioIconltr">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/ltr-dark.svg" alt="Left to Right (En)" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="directionRadioIcon" class="form-check-input d-none" type="radio" value="ltr" id="directionRadioIconltr" checked="checked">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="directionRadioIconltr">Left to Right (En)</label>
</div><div class="col-4 px-2">
  <div class="form-check custom-option custom-option-icon mb-0">
    <label class="form-check-label custom-option-content p-0" for="directionRadioIconrtl">
      <span class="custom-option-body mb-0">
        <img src="https://demos.themeselection.com/sneat-bootstrap-html-admin-template/assets/img/customizer/rtl-dark.svg" alt="Right to Left (Ar)" class="img-fluid scaleX-n1-rtl">
      </span>
      <input name="directionRadioIcon" class="form-check-input d-none" type="radio" value="rtl" id="directionRadioIconrtl">
    </label>
  </div>
  <label class="form-check-label small text-nowrap" for="directionRadioIconrtl">Right to Left (Ar)</label>
</div></div> </div> </div> </div> </div>


<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="{{ base_url }}" target="_blank" class="footer-link fw-bolder">ThemeSelection</a>
      </div>
      <div>
        <a href="{{ base_url }}/license/" class="footer-link me-4" target="_blank">License</a>
        <a href="{{ base_url }}/" target="_blank" class="footer-link me-4">More Themes</a>

        <a
          href="{{ base_url }}/demo/sneat-bootstrap-html-admin-template/documentation/"
          target="_blank"
          class="footer-link me-4"
          >Documentation</a
        >

        <a
          href="{{ base_url }}"
          target="_blank"
          class="footer-link me-4"
          >Support</a
        >
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/jquery/jquery.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/popper/popper.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/js/bootstrap.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/hammer/hammer.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/typeahead-js/typeahead.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/apex-charts/apexcharts.js"></script>

  <!-- Main JS -->
  <script src="{{ base_url }}public/template/docs/assets/js/main.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/js/template-customizer.js"></script>

  <!-- Page JS -->
  <script src="{{ base_url }}public/template/docs/assets/js/dashboards-analytics.js"></script>

  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>