<aside id="layout-menu" class="layout-menu menu-vertical menu bg-menu-theme">
    <div class="app-brand demo">
      <a href="{{ base_url }}" class="app-brand-link">
        <span class="app-brand-logo demo">
          <img style="width: 28px" src="{{ base_url }}public/template/docs/assets/img/logo.png">
        </span>
        <span class="logo-text demo menu-text fw-bolder ms-2">Rhapsody</span>
      </a>

      <a href="javascript:void(0);" class="layout-menu-toggle menu-link text-large ms-auto d-block d-xl-none">
        <i class="bx bx-chevron-left bx-sm align-middle"></i>
      </a>
    </div>

    <div class="menu-inner-shadow"></div>

    <ul class="menu-inner py-1">
      <!-- Dashboard -->
      <li class="menu-item active">
        <a href="{{ base_url }}" class="menu-link">
          <i class="menu-icon tf-icons bx bx-home-circle"></i>
          <div data-i18n="Analytics">Home</div>
        </a>
      </li>

      <li class="menu-header small text-uppercase">
        <span class="menu-header-text">Documentation</span>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-book-reader"></i>
          <div data-i18n="Getting Started">Getting Started</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{{ base_url }}documentation/getting_started/structure" class="menu-link">
              <div data-i18n="Directory Structure">Directory Structure</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/getting_started/installation" class="menu-link">
              <div data-i18n="Install">Install / Requirements</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/getting_started/configuration" class="menu-link">
              <div data-i18n="Configuration">Configuration</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/getting_started/frontend" class="menu-link">
              <div data-i18n="Frontend">Frontend</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-lock-open-alt"></i>
          <div data-i18n="Architecture">Architecture</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{{ base_url }}documentation/architecture/requests" class="menu-link">
              <div data-i18n="Request Lifecycle">Request Lifecycle</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/architecture/controllers" class="menu-link">
              <div data-i18n="Controllers">Controllers</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/architecture/models" class="menu-link">
              <div data-i18n="Models">Models</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/architecture/views" class="menu-link">
              <div data-i18n="Views">Views</div>
            </a>
          </li>
        </ul>
      </li>
      <li class="menu-item">
        <a href="javascript:void(0);" class="menu-link menu-toggle">
          <i class="menu-icon tf-icons bx bx-cube-alt"></i>
          <div data-i18n="Middleware">Middleware</div>
        </a>
        <ul class="menu-sub">
          <li class="menu-item">
            <a href="{{ base_url }}documentation/components/overview" class="menu-link">
              <div data-i18n="Overview">Overview</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/components/email" class="menu-link">
              <div data-i18n="Email">Email</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/components/pagination" class="menu-link">
              <div data-i18n="Pagination">Pagination</div>
            </a>
          </li>
          <li class="menu-item">
            <a href="{{ base_url }}documentation/components/validation" class="menu-link">
              <div data-i18n="Email">Validation</div>
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </aside>