<!-- Footer -->
<footer class="content-footer footer bg-footer-theme">
    <div class="container-xxl d-flex flex-wrap justify-content-between py-2 flex-md-row flex-column">
      <div class="mb-2 mb-md-0">
        ©
        <script>
          document.write(new Date().getFullYear());
        </script>
        , made with ❤️ by
        <a href="{{ base_url }}" target="_blank" class="footer-link fw-bolder">Rhapsody Framework</a>
      </div>
      <div>
        <a href="{{ base_url }}license/" class="footer-link me-4" target="_blank">License</a>

        <a
          href="{{ base_url }}documentation/"
          target="_blank"
          class="footer-link me-4"
          >Documentation</a
        >
      </div>
    </div>
  </footer>
  <!-- / Footer -->

  <!-- Core JS -->
  <!-- build:js assets/vendor/js/core.js -->
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/popper/popper.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/js/bootstrap.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/perfect-scrollbar/perfect-scrollbar.js"></script>
  <script src="{{ base_url }}public/template/docs/assets/vendor/js/menu.js"></script>
  <!-- endbuild -->

  <!-- Vendors JS -->
  <script src="{{ base_url }}public/template/docs/assets/vendor/libs/apex-charts/apexcharts.js"></script>

  <!-- Main JS -->
  <script src="{{ base_url }}public/template/docs/assets/js/main.js"></script>

  <!-- Page JS -->
  <script src="{{ base_url }}public/template/docs/assets/js/dashboards-analytics.js"></script>

  <script>
  $( document ).ready(function() {

    const checkbox = document.getElementById("checkbox")
    checkbox.addEventListener("change", () => {
    document.body.classList.toggle("dark")
        if(document.body.classList == "dark") {
          localStorage.setItem('mode', 'dark');
        } else {
          localStorage.setItem('mode', 'light');
        }
    });
    
    let mode;
    mode = localStorage.getItem('mode');

    if (mode === 'light'){
        lightMode();
    }else{
        darkMode();
    }

  function darkMode() {
      document.body.classList.add("dark");
      localStorage.setItem('mode', 'dark');
      mode = localStorage.getItem('mode');
  }

  function lightMode() {
      document.body.classList.remove("dark");
      localStorage.setItem('mode', 'light');
      mode = localStorage.getItem('mode');
  }
});
</script>


  <!-- Place this tag in your head or just before your close body tag. -->
  <script async defer src="https://buttons.github.io/buttons.js"></script>